*{
  color: white;
}
.header{
  text-align: center;
}

.jumbotron{
  height: 600px;
  padding-top: 100px;
  margin-top: 10px;
  border-radius: 50px;
  background-image: url("../img/scrn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
input{
  text-align: right;
}
#message{
  display: none;
}
#transaction{
  display: none;
}
#login{
  display: none;
}
.bye{
  display: none;
}
#back:hover{
  cursor:pointer;
  color: red;
}
.btns{
   display: none;
   position: fixed;
   width: 600px;
   height: 200px;
   left: 50%;
   top: 71%;
   margin-left: -300px; /*half the width*/
}
/*code for scrolling heading */
.scroll-left {
 margin-left: 50px;
 width: 85%;
 height: 50px;
 overflow: hidden;
 position: relative;
}
.scroll-left h2 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   {
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%);
 }
}
